.form-title{
color: #0D1055;;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.45px;
text-decoration: none;
cursor: pointer;
}
.modal-btn{
display: flex;
width: 140px;
height: 40px;
padding: 10px 20px;
justify-content: center;
align-items: center;
border-radius: 12px;
background: #0D1055;
border-color: transparent;
gap: 10px;
color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.45px;
text-decoration: none;
cursor: pointer;
}